/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Client Brand Colors
# Social Brand Colors
# Responsive Style Verbiage + Mixins
# Normalize
# Header
# Menu - Deskop and Mobile
# Home Page Specific
# Content
# - Contact Page
# - Online Education Plugin
# Attorneys CPT Single Page
# Sidebar
# Page Specific Content
# Sidebar
# Alignments
# Responsive Video Wrappers
# Footer
# - Scroll To Top
# Vendor Specific
# Responsive (iphone/android)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Client Brand Colors
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Social Brand Colors
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Responsive Style Verbiage + Mixins
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background: #11396B;
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  /*--------------------------------------------------------------
  # Home Page Specific
  --------------------------------------------------------------*/
  /*--------------------------------------------------------------
  # Content
  --------------------------------------------------------------*/
  /*--------------------------------------------------------------
  # Sidebar
  --------------------------------------------------------------*/
  /*--------------------------------------------------------------
  # Alignments
  --------------------------------------------------------------*/
  /*--------------------------------------------------------------
   # Responsive Video Wrapper
  --------------------------------------------------------------*/
  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/ }
  body ul {
    margin: 0;
    padding: 0; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    margin: 0 0 0.500em 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif; }
  body a {
    color: #D14431;
    font-weight: 500;
    text-decoration: none; }
  body .wrapper {
    margin: auto;
    float: none;
    width: 80%;
    max-width: 1290px;
    display: block; }
  body .pdf_link:after {
    content: "";
    background: url(images/preload/pdf_link.png) center right no-repeat;
    padding: 0 1em 0 0.5em;
    white-space: nowrap; }
  body .doc_link:after {
    content: "";
    background: url(images/preload/word_link.png) center right no-repeat;
    padding: 0 1em 0 0.5em;
    white-space: nowrap; }
  body .button {
    background: #D14431;
    padding: 0.438em 1.250em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    -webkit-border-radius: 0.250em;
    -moz-border-radius: 0.250em;
    border-radius: 0.250em; }
    body .button:hover {
      transition: background 0.7s ease;
      background: #11396B;
      color: #FFFFFF; }
  body .bold {
    font-weight: 900; }
  body .mobile_only {
    display: none; }
    @media only screen and (max-width: 430px) {
      body .mobile_only {
        display: block; } }
  body header {
    float: left;
    width: 100%;
    background: #11396B;
    padding: 2em 0; }
    body header #logo {
      float: left;
      width: auto; }
    body header #right {
      float: right;
      /*--------------------------------------------------------------
      # Menu - Desktop and Mobile
      --------------------------------------------------------------*/ }
      body header #right #search_mobile {
        display: none; }
      body header #right #search {
        float: right;
        margin: 0 0 2em 0; }
      body header #right #menu_close {
        display: none;
        float: right;
        right: 2%;
        outline: none;
        border: none;
        background: none; }
        body header #right #menu_close::after {
          content: "\f057";
          font-family: "FontAwesome";
          font-size: 2.934em;
          color: #FF7878; }
        @media only screen and (max-width: 430px) {
          body header #right #menu_close {
            display: block; } }
      body header #right #menu_btn {
        background: none;
        float: right;
        outline: none;
        display: none;
        margin: 0;
        top: 4em;
        right: 2%;
        border: none;
        position: absolute; }
        body header #right #menu_btn::after {
          content: "\f0c9";
          font-family: "FontAwesome";
          font-size: 2.934em;
          color: #FF7878;
          float: left; }
        @media only screen and (max-width: 430px) {
          body header #right #menu_btn {
            display: block; } }
      body header #right #menu {
        float: right;
        clear: both; }
        @media only screen and (max-width: 430px) {
          body header #right #menu {
            background: #FF7878;
            width: 100%;
            height: 576px;
            float: left;
            position: absolute;
            top: 7%;
            z-index: 999; } }
        body header #right #menu .menu {
          float: left;
          list-style-type: none; }
          body header #right #menu .menu li {
            display: inline;
            margin: 0 1.4em 0 0; }
            body header #right #menu .menu li a {
              font-weight: 300;
              font-size: 1.3em; }
            body header #right #menu .menu li:last-child {
              margin: 0; }
  body main .section_title {
    font-size: 2.3em;
    text-align: center;
    font-weight: 100;
    margin: 0 0 1em 0;
    color: #FFFFFF; }
  body main #intro {
    float: left;
    width: 100%;
    margin: 0 0 3em 0; }
    body main #intro #featured_articles {
      width: 60%;
      float: left; }
      body main #intro #featured_articles #featured_article_slider li {
        overflow: hidden;
        position: relative; }
        body main #intro #featured_articles #featured_article_slider li .text_box {
          position: absolute;
          bottom: 2em;
          background: rgba(209, 68, 49, 0.6);
          width: 80%;
          margin: 0 0 0 1em;
          padding: 3em 1em 1em 1em; }
          body main #intro #featured_articles #featured_article_slider li .text_box .title a {
            font-size: 1.5em;
            color: #FFFFFF;
            line-height: 1.7em;
            font-weight: 500; }
        body main #intro #featured_articles #featured_article_slider li img {
          width: 100%;
          height: auto; }
      body main #intro #featured_articles #featured_article_slider .slick-prev {
        left: 3px;
        z-index: 99999;
        top: 40%; }
        body main #intro #featured_articles #featured_article_slider .slick-prev::before {
          content: "\f053";
          color: white;
          font-family: "FontAwesome";
          padding: 0 0.5em 0 0;
          font-size: 60px;
          position: absolute; }
      body main #intro #featured_articles #featured_article_slider .slick-next {
        right: 42px;
        top: 40%; }
        body main #intro #featured_articles #featured_article_slider .slick-next::before {
          content: "\f054";
          color: white;
          font-family: "FontAwesome";
          padding: 0 0.5em 0 0;
          font-size: 60px;
          position: absolute; }
    body main #intro #latest_articles {
      float: right;
      width: 38%;
      background: #FFFFFF;
      min-height: 546px;
      height: 546px;
      max-height: 546px; }
      body main #intro #latest_articles h1 {
        font-size: 1.5em;
        font-weight: 400;
        color: #11396B;
        margin: 0.5em 0 0.5em 1em; }
      body main #intro #latest_articles ul {
        list-style-type: none;
        margin: 0 2em 0 1.5em; }
        body main #intro #latest_articles ul li {
          margin: 0 0 0.45em 0;
          padding: 0 0 0.44em 0;
          border-bottom: 0.2em dotted #9CA4AD; }
          body main #intro #latest_articles ul li .title {
            font-weight: 100;
            display: inline; }
          body main #intro #latest_articles ul li a {
            color: #D14431;
            text-decoration: none; }
          body main #intro #latest_articles ul li:last-child {
            border-bottom: none; }
  body main #fold_articles {
    width: 100%;
    float: left; }
    body main #fold_articles ul {
      list-style-type: none; }
      body main #fold_articles ul li {
        width: 30%;
        margin: 0 4em 0 0;
        float: left; }
        body main #fold_articles ul li img {
          width: 100%;
          height: auto; }
          body main #fold_articles ul li img:hover {
            opacity: 0.6;
            transition: opacity 0.7s ease; }
        body main #fold_articles ul li a {
          color: #D14431;
          text-decoration: none;
          font-weight: 600;
          font-size: 1.1em; }
        body main #fold_articles ul li:nth-child(2), body main #fold_articles ul li:nth-child(5) {
          margin: 0; }
        body main #fold_articles ul li:nth-child(3), body main #fold_articles ul li:nth-child(6) {
          margin: 0;
          float: right; }
        body main #fold_articles ul li .title {
          min-height: 80px;
          margin: 0 0 1em 0;
          max-height: 80px;
          text-align: center; }
  body main #mission {
    float: left;
    width: 100%;
    background: url(https://res.cloudinary.com/simpleview/image/upload/c_fill,f_auto,h_467,q_65,w_1024/v1/clients/norway/hiking_fossjuvet_forsand_norway_6fcf1221-3beb-4285-ae3d-322253a6a436.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 7em 0; }
    body main #mission #focus {
      background: rgba(255, 255, 255, 0.7);
      padding: 2em;
      text-align: center;
      width: 70%;
      margin: auto; }
      body main #mission #focus h2 {
        font-size: 2em;
        font-weight: 200;
        text-transform: uppercase; }
      body main #mission #focus p {
        line-height: 1.8em;
        font-size: 1.1em;
        margin: 2em 0; }
  body main #rand_articles {
    float: left;
    width: 100%;
    background: #D14431;
    padding: 3em 0; }
    body main #rand_articles ul {
      list-style-type: none; }
      body main #rand_articles ul li {
        width: 30%;
        margin: 0 4em 0 0;
        float: left; }
        body main #rand_articles ul li img {
          width: 100%;
          height: auto; }
          body main #rand_articles ul li img:hover {
            opacity: 0.6;
            transition: opacity 0.7s ease; }
        body main #rand_articles ul li a {
          color: #FFFFFF;
          text-decoration: none;
          font-weight: 600;
          font-size: 1.1em; }
        body main #rand_articles ul li:nth-child(2), body main #rand_articles ul li:nth-child(5) {
          margin: 0; }
        body main #rand_articles ul li:nth-child(3), body main #rand_articles ul li:nth-child(6) {
          margin: 0;
          float: right; }
        body main #rand_articles ul li .title {
          min-height: 80px;
          margin: 0 0 1em 0;
          max-height: 80px;
          text-align: center; }
  body main #video_articles {
    float: left;
    width: 100%;
    margin: 3em 0; }
    body main #video_articles ul {
      list-style-type: none; }
      body main #video_articles ul li {
        width: 30%;
        margin: 0 4em 0 0;
        float: left; }
        body main #video_articles ul li img {
          width: 100%;
          height: auto; }
        body main #video_articles ul li a {
          color: #D14431;
          text-decoration: none;
          font-size: 1.1em;
          font-weight: 600; }
        body main #video_articles ul li:nth-child(2) {
          margin: 0; }
        body main #video_articles ul li:nth-child(3) {
          margin: 0;
          float: right; }
        body main #video_articles ul li .title {
          min-height: 80px;
          margin: 0 0 1em 0;
          max-height: 80px;
          text-align: center; }
  body main #all_articles {
    width: 100%;
    float: left;
    padding: 3em 0;
    background: #FFFFFF; }
    body main #all_articles .section_title {
      color: #D14431; }
    body main #all_articles ul {
      list-style-type: none; }
      body main #all_articles ul li {
        margin: 0 0 2em 0;
        border-bottom: 0.2em dotted #11396B;
        padding: 0 0 0.45em 0; }
        body main #all_articles ul li a {
          color: #D14431;
          text-decoration: none;
          font-weight: 500;
          font-size: 1.1em; }
        body main #all_articles ul li .title {
          margin: 0 0 1em 0; }
          body main #all_articles ul li .title a {
            color: #11396B;
            font-weight: 500;
            font-size: 1.1em; }
        body main #all_articles ul li .excerpt {
          font-size: 1em;
          line-height: 1.3em;
          color: #333; }
        body main #all_articles ul li:last-child {
          border-bottom: none; }
  body #content {
    width: 67%;
    float: left;
    padding: 1em;
    background: white; }
    body #content #page_title {
      font-size: 2em;
      margin: 0 0 1em 0;
      font-weight: 100;
      color: #333; }
    body #content #related_articles {
      float: left;
      width: 100%;
      margin: 2em 0;
      border-top: 0.001em solid #D14431; }
      body #content #related_articles h3 {
        font-size: 1.3em;
        font-weight: 100;
        margin: 1em 0; }
      body #content #related_articles ul {
        list-style-type: none; }
        body #content #related_articles ul li {
          margin: 0 1em 0 0;
          width: 23%;
          float: left; }
          body #content #related_articles ul li img {
            width: 100%;
            height: auto; }
          body #content #related_articles ul li:last-child {
            margin: 0; }
  body #sidebar {
    width: 28%;
    float: right; }
    body #sidebar .widgetblock {
      border: 0.2em solid #333;
      background: white;
      margin: 0 0 2em 0; }
      body #sidebar .widgetblock h2 {
        font-weight: 100;
        margin: 0.5em; }
      body #sidebar .widgetblock ul {
        margin: 0.5em;
        list-style-type: none; }
        body #sidebar .widgetblock ul li {
          padding: 0 0 0.6em 0; }
          body #sidebar .widgetblock ul li:before {
            content: "\f111";
            color: #4B596A;
            font-family: "FontAwesome";
            padding: 0;
            font-size: 0.7em;
            margin: 0 1em 0 0; }
  body .alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em; }
    @media only screen and (max-width: 430px) {
      body .alignleft {
        width: 100%;
        height: auto;
        margin: 0; } }
  body .alignright {
    display: inline;
    float: right;
    margin-left: 1.5em; }
    @media only screen and (max-width: 430px) {
      body .alignright {
        width: 100%;
        height: auto;
        float: left;
        margin: 0; } }
  body .aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto; }
    @media only screen and (max-width: 430px) {
      body .aligncenter {
        width: 100%;
        height: auto; } }
  body .videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0; }
    body .videoWrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  body footer {
    float: left;
    width: 100%;
    padding: 2em 0 0 0;
    margin: 0;
    border-top: 0.001em solid white;
    /*--------------------------------------------------------------
    # Scroll To Top
    --------------------------------------------------------------*/ }
    body footer #logo {
      margin: 1em auto;
      width: 256px; }
    body footer #main {
      float: left;
      width: 100%;
      padding: 2em 0 4em 0; }
      body footer #main .footer_title {
        font-weight: 400;
        color: white;
        margin: 0 0 0.5em 0; }
      body footer #main #contact {
        width: 30%;
        float: left;
        color: white; }
        body footer #main #contact ul {
          list-style-type: none; }
          body footer #main #contact ul li {
            display: inline-block; }
            body footer #main #contact ul li a {
              color: white; }
      body footer #main #newsletter {
        width: 30%;
        margin: 0 0 0 4em;
        float: left; }
        body footer #main #newsletter input {
          border: none;
          text-align: center;
          font-size: 1em;
          width: 100%;
          margin: 0 0 0.54em 0;
          color: #333;
          padding: 0.5em 0; }
        body footer #main #newsletter #mc-embedded-subscribe {
          border: none;
          margin: auto;
          width: 200px;
          display: table;
          cursor: pointer; }
          body footer #main #newsletter #mc-embedded-subscribe:hover {
            background: #D14431; }
      body footer #main #menu {
        width: auto;
        float: right; }
        body footer #main #menu ul {
          list-style-type: none; }
          body footer #main #menu ul li {
            margin: 0 0 0.5em 0; }
            body footer #main #menu ul li a {
              color: white;
              text-transform: uppercase; }
    body footer #bottom {
      background: #9CA4AD;
      padding: 1em 0;
      float: left;
      width: 100%; }
      body footer #bottom p {
        text-align: center;
        color: white;
        margin: 0;
        padding: 0;
        text-transform: uppercase; }
    body footer.internal {
      margin: 3em 0 0 0; }
    body footer #scroll_to_top {
      display: block;
      width: 100%;
      float: right; }
      body footer #scroll_to_top #scroll {
        width: 50px;
        height: 50px;
        float: right;
        position: relative;
        right: 7.5%;
        margin: 0 0 1.250em 0;
        background: #333; }
        @media only screen and (max-width: 430px) {
          body footer #scroll_to_top #scroll {
            right: 1%; } }
        @media only screen and (min-width: 430px) and (max-width: 880px) {
          body footer #scroll_to_top #scroll {
            right: 1%; } }
        body footer #scroll_to_top #scroll a {
          background: #D14431;
          width: 100%;
          height: 100%;
          float: right;
          text-decoration: none;
          -webkit-border-radius: 0.273em;
          -moz-border-radius: 0.273em;
          border-radius: 0.273em; }
          body footer #scroll_to_top #scroll a::after {
            content: "\f0d8";
            font-family: "FontAwesome";
            font-size: 2.934em;
            color: white;
            text-align: center;
            font-weight: 100;
            float: left;
            margin: 0.035em 0 0 0.250em; }
          body footer #scroll_to_top #scroll a:hover {
            transition: background 0.7s ease;
            background: #11396B; }

/*# sourceMappingURL=main.css.map */
